*.class
*.log
**/out/*

## intellij idea
.idea/workspace.xml
.idea/tasks.xml
**/.idea/workspace.xml
**/.idea/tasks.xml

# sbt
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/